:root {
  --main-color: #2196f3;
  --secondary-color: #212121;
  --background-color: #2f303a;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
  width: 1600px;
  margin: 0 auto;
}

h1,
h2,
p {
  margin: 0;
  font-style: normal;
}
ul {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.current-page::after {
  content: "";
  display: block;
  height: 4px;
  background-color: var(--main-color);
  border-radius: 2px;
  position: relative;
  top: 31px;
}

a {
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.footer-contact {
  color: #757575;
}
nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
address {
  color: white;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}
.header-logo {
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.footer-logo {
  color: white;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}
.logo-color {
  color: var(--main-color);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--main-color);
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

button {
  cursor: pointer;
}
.main-title {
  color: white;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.main-list-item .list-title {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
}
.main-list-item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  min-width: 270px;
}
.main-list-item:not(:first-child) {
  margin-left: 30px;
}
.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.name {
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
}
.occupation {
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.project-type {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
.main-button {
  background-color: #2196f3;
  color: white;
  font-weight: 700;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}
.filter-button {
  background-color: #f5f4fa;
  color: var(--secondary-color);
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  height: 38px;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-title-section,
footer {
  background-color: var(--background-color);
}
.team-section {
  background-color: #f5f4fa;
  height: 648px;
  margin: 0 auto;
  padding: 94px 215px;
}
.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-contact-list {
  display: flex;
  list-style: none;
}
.navigation {
  list-style: none;
  display: flex;
  padding: 0;
}
.navigation-page:not(:first-child) {
  margin-left: 46px;
}
.header-pages {
  list-style: none;
  display: flex;
  align-items: center;
}
.main-title-section {
  height: 600px;
  text-align: center;
  padding: 200px 452px 280px 452px;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/main-background.jpg);
}
.navigation-page a {
  color: var(--secondary-color);
}
a:hover,
a:focus {
  color: var(--main-color);
}
.main-list {
  display: flex;
  list-style: none;
  margin-bottom: 94px;
}
.description-list {
  list-style: none;
  display: flex;
  column-gap: 30px;
  align-items: center;
  justify-content: center;
}

.description-list-item {
  display: flex;
  position: relative;
}

.description-list-item-overlay {
  position: absolute;
  text-align: center;
  padding: 27px 0;
  width: 100%;
  min-height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.team-list {
  list-style: none;
  display: flex;
}
figure,
figcaption {
  margin: 0;
  padding: 0;
}
.team-list-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 270px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

figure {
  display: flex;
  flex-direction: column;
}
footer {
  height: 252px;
  width: 1600px;
  margin: 0 auto;
  display: flex;
}

address p {
  margin-bottom: 9px;
}
.filter-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list-item:not(:first-child) {
  margin-left: 8px;
}

.project-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.project-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.project-list-item-description {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.main-section {
  padding: 94px 0;
}

.navigation-page .current-page {
  color: var(--main-color);
}

header {
  width: 1600px;
  border-bottom: 1px solid #ececec;
  padding: 24px 0 25px 0;
}

.header-contact-list-item {
  display: flex;
  align-items: center;
}

.header-contact-list-item:first-child {
  margin-right: 50px;
}

.header-contact-list-item .header-icon {
  display: flex;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-list-background {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  padding: 25px 100px;
}

.header-contact-list-item:hover .header-icon,
.header-contact-list-item:hover .header-contact {
  fill: var(--main-color);
  color: var(--main-color);
  cursor: pointer;
}

.team-icons-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 32px 18px 32px;
  width: 206px;
  height: 44px;
  fill: #afb1b8;
}

.team-icon {
  transform: scale(0.5);
}

.team-icons-list-item {
  width: 44px;
  height: 44px;
  background-size: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons-list-item:hover {
  background-color: var(--main-color);
  fill: white;
  cursor: pointer;
}

.client-section {
  margin: 94px 215px;
}

.client-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  fill: #afb1b8;
}

.client-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-item:hover {
  fill: var(--main-color);
  border-color: var(--main-color);
  cursor: pointer;
}

.footer-contact-section {
  margin-top: 60px;
  margin-left: 215px;
}

.footer-social-media-section {
  margin-left: 70px;
  margin-top: 72px;
}

.footer-social-media-title {
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
}

.footer-social-media-list {
  list-style: none;
  display: flex;
}

.footer-icon {
  transform: scale(0.5);
}

.footer-social-media-list-item {
  width: 44px;
  height: 44px;
  background-size: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-list-item:not(:first-child) {
  margin-left: 10px;
}

.footer-social-media-list-item:hover {
  cursor: pointer;
  background-color: var(--main-color);
}

.project-list-item-image {
  position: relative;
  max-height: 294px;
  overflow: hidden;
}

.project-list-item-image > .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--main-color);
  opacity: 0.9;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list-item-image-description {
  display: block;
  color: white;
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  font-size: 18px;
  line-height: 1.56;
}

.project-list-item:hover .overlay {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 528px;
  height: 581px;
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: white;
}

.close-button-icon {
  width: 18px;
  height: 18px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.footer-form-section {
  position: relative;
  margin-top: 72px;
  margin-left: 78px;
  width: 570px;
  min-height: 86px;
}

.footer-form-section .footer-form-section-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: white;
  display: block;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
}

#footer-email {
  height: 50px;
  width: 358px;
  top: 36px;
  background-color: var(--background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
  outline: none;
}

#footer-email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-section > .footer-input-button-section {
  display: flex;
}

.footer-form-section-button {
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 12px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
  color: white;
  fill: white;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}

.footer-form-section-button-icon {
  width: 24px;
  height: 24px;
}

.modal-margin {
  margin: 40px 40px 20px;
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 12px;
}

.modal-label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
  display: block;
}

.modal-input-section {
  display: flex;
  align-items: center;
  position: relative;
  width: 448px;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon {
  position: absolute;
  height: 18px;
  width: 18px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  width: 100%;
  height: 100%;
  border: none;
  margin-left: 42px;
  padding: 0;
  font-size: 12px;
  letter-spacing: 0.01em;
  outline: none;
}

.modal-input-section:focus-within,
.modal-text-area:focus-within {
  border-color: var(--main-color);
  fill: var(--main-color);
}

.modal-text-area {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-area::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox-section {
  display: flex;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0px 54px;
}

.modal-checkbox-label {
  position: relative;
  cursor: pointer;
}

.modal-checkbox-icon {
  position: absolute;
  left: -23px;
  top: 4px;
  width: 16px;
  height: 15px;
  background-color: white;
  border-radius: 2px;
  border: 1px solid var(--secondary-color);
  fill: none;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-button {
  margin-right: 7px;
  visibility: hidden;
}

.modal-checkbox-button:checked + .modal-checkbox-label > .modal-checkbox-icon {
  background-color: var(--main-color);
  fill: white;
  border: none;
}

.modal-agreement-link {
  color: var(--main-color);
  text-decoration: underline;
  cursor: pointer;
}

.modal-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 164px 40px;
  width: 200px;
  height: 50px;
  padding: 0;
  background-color: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
  color: white;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}
