@import "utils/variables";
@import "components/logo";
@import "components/social-media-icons";
@import "components/page-header";
@import "components/main-title";
@import "components/current-offer";
@import "components/team";
@import "components/clients";
@import "components/page-footer";
@import "components/modal";
@import "components/checkbox";
@import "components/filter-button";
@import "components/projects";

.container {
  font-family: $main-font;
  color: $secondary-color;
  width: 1600px;
  margin: 0 auto;
}

.figure {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
