.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: white;
  cursor: pointer;

  &__icon {
    width: 18px;
    height: 18px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 528px;
  height: 581px;

  &__margin {
    margin: 40px 40px 20px;
  }

  &__heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    margin-bottom: 12px;
  }

  &__label {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: #757575;
    display: block;
  }

  &__input-section {
    display: flex;
    align-items: center;
    position: relative;
    width: 448px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus-within {
      border-color: $primary-color;
      fill: $primary-color;
    }
  }

  &__input {
    width: 100%;
    height: 100%;
    border: none;
    margin-left: 42px;
    padding: 0;
    font-size: 12px;
    letter-spacing: 0.01em;
    outline: none;
  }

  &__icon {
    position: absolute;
    height: 18px;
    width: 18px;
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 164px 40px;
    width: 200px;
    height: 50px;
    padding: 0;
    background-color: $primary-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-width: 0;
    color: white;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
  }
}

.modal__text-area {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus-within {
    border-color: $primary-color;
  }
}
