.page-footer {
  background-color: $background-color;
  height: 252px;
  width: 1600px;
  margin: 0 auto;
  display: flex;
}

.address {
  color: white;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}
