.social-media {
  width: 44px;
  height: 44px;
  background-size: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__icon {
    transform: scale(0.5);
  }

  &--footer {
    background-color: rgba(255, 255, 255, 0.1);
    fill: white;
  }

  &:hover {
    background-color: $primary-color;
    fill: white;
    cursor: pointer;
  }
}
